@font-face {
    font-family: 'Sinera';
    src: url('fonts/Sinera.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bethany Elingston';
    src: url('fonts/Bethany Elingston.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('fonts/HelveticaNeueLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue Light', sans-serif;
    color:#FFD9C0;
    background-color: #fbf8f1;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 25px 0px;
    background-color: #371E0A;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4); 
    position: relative;
    z-index: 10;
    gap: 100px;
}

.nav-logo {
    font-family: 'Sinera', 'Playfair Display', serif; 
    font-size: 20px;
    font-weight: normal;
    font-style: normal; 
    margin: 0; 
}

.nav-links {
    display: flex;
    gap: 100px; 
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #fff;
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-size: 12px; 
    font-weight: 400;
    transition: opacity 0.3s ease;
}

.nav-links a:hover {
    opacity: 0.7;
}

.hasil-section {
    max-width: 850px;
    margin: 0 auto;
    padding: 50px 20px 60px 20px;
    text-align: center;
}

.hasil-image {
    width: 100%;
    height: 320px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
}

.hasil-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hasil-label {
    font-size: 15px;
    color: #371E0A;
    font-style: normal;
    margin-bottom: 22px;
    font-weight: 300;
}

.hasil-title {
    font-family: 'Bethany Elingston', serif;
    font-size: 40px;
    margin-bottom: 15px;
    color: #371E0A;
    font-weight: 100;
}

.hasil-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 500px;
    margin: 0 auto 30px auto;
    color: #371E0A;
}

.hasil-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn-menu {
    display: inline-block;
    width: 150px;
    padding: 16px 0px; 
    text-align: center;
    background-color: #f5cca6; 
    border: 1.5px solid #371E0A;
    color:#371E0A;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
    font-family: 'Helvetica Neue Medium';
}

.btn-menu:hover {
    background-color: #ddbfa5;
}

.btn-tes-baru {
    display: inline-block;
    width: 150px;
    padding: 16px 0px; 
    text-align: center;
    background-color: #3b2a1a;
    color: #fff;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
    font-family: 'Helvetica Neue Medium';
}

.btn-tes-baru:hover {
    background-color: #2a1d12;
}

.download-link {
    font-size: 13px;
    color: #3b2a1a;
    text-decoration: underline;
    opacity: 0.7;
}

.download-link:hover {
    opacity: 1;
}